* { 
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

body {
    background: #d8d176;
    min-height: 1500px;
}

.inicial {
    position: relative;
    left: 250px;
    width: 100%;
    height: 180vh;
    overflow: hidden;
    display: flex;
    justify-items: center;
}

.inicial::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #d8d176, transparent);
    z-index: 100;
}


.inicial::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #d8d176;
    z-index: 100;
    mix-blend-mode: color;
}

.inicial .primero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: auto;
    pointer-events: none;
}

#text {
    position: relative;
    color: #fff;
    font-size: 8em;
    z-index: 1;
}

#fondo {
    background-image: url(../image/Batman1.png);
}

#logo {
    background-image: url(../image/batmanLogo2.png);
}

#murcielagos{
    background-image: url(../image/nube_batman2.png);
}

#batman {
    background-image: url(../image/the-batman.jpg);
}