body {
    background-image:url("/TP1/image/lienzo5.jpg");
}

#close-image img {
    display: block;
    height: 60px;  
    width: 60px;
}

#imgPortada img {
    display:inline-block;
    height: 60px;  
    width: 60px;
}


