section {
    width: 400px;
    height: 300;
}


.flip{
    position: absolute;
    transition: transform 1s;
    width: 100%;
    height: 100%;
    transform: perspective(250px);
    transform-origin: center right;
    transform-style: preserve-3d;
    }
    
.flip:hover{
    transform: translateX(-100%) rotateY(-180deg);
}




.flip .flip-1,
.flip .flip-2{
position: absolute;
backface-visibility: hidden;
}
.flip .flip-2{
transform: rotateY(-180deg);
}
